[submodule "libft"]
	path = libft
	url = git@vogsphere-v2.42sp.org.br:vogsphere/intra-uuid-b5baf85b-25c0-4e44-918b-d222a10863e3-3681687
[submodule "42tests"]
	path = 42tests
	url = git@github.com:RicaBenhossi/42tests.git
